





  
        
        <% @users.each do |user| %>
       <% if !user_signed_in? %>
 
           
                <%= image_tag (user.avatar.url(:medium, class: "img-circle img-responsive")) if user.avatar? %>
               
                    
                        <%= user.name + " " + user.lastname %>
                        <%= user.about %>
                  
                        
                            <%= link_to "detay", user, class: 'btn btn-info btn-block'  %>
          
<% else %>

        <%  if current_user.blocking?(user) %>
<!-- Engellenmişsen-->

    <center> <p><strong>  Bu Üyenin içeriğine ulaşılamıyor</strong>  </p> </center>




                     <% else %>
        
                <%= image_tag (user.avatar.url(:medium, class: "img-circle img-responsive")) if user.avatar? %>
                
                        <%= "#{user.name}  #{user.lastname}"  %><%= link_to 'send a message', new_personal_message_path(receiver_id: user) %></h4>
                   
                        <%= user.about %></p>
                    
                        
                            
                                
                       
                        
                            <%= link_to "detay", user, class: 'btn btn-info btn-block'  %>
                       
            
        
        <% end %>
        <% end %>
        <% end %>
      
   





