<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">


                    <!-- Engellenmişsen-->
                    <%  if current_user.blocking?(@user) %>
                    <!-- Engellenmişsen-->

                     <center> <p><strong>  Bu Üyenin içeriğine ulaşılamıyor</strong>  <%= link_to "Anasayfaya Dön", posts_path, class: 'btn btn-info btn-block'  %> </p> </center>




                     <% else %>
                     




                	<% if @user.name? %>
                    <h2><%= @user.name + "  " + @user.lastname %></h2>
                    
                    <% else %>
                    <h2>İsimsiz Kahraman(isim girilmemiş)</h2>
                    <% end %>

                    <p><strong>Hakkında:  </strong> <%= @user.about %> </p>
                    <p><strong>Hobileri: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><strong>Yetenekler: </strong>
                        <span class="tags">Yüzme,</span> 
                        <span class="tags">Kılıç</span>
                        <span class="tags">Okçuluk</span>
                    
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <%= image_tag (@user.avatar.url(:medprofile, class: "img-circle img-responsive")) if @user.avatar? %>
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong><%= @user.followers.count %></strong></h2>                    
                    <p><small>Takipçiler</small></p>
                     <% if @user == current_user %>
                    <%= link_to "Düzenle", edit_user_registration_path(@user), class: 'btn btn-info btn-block'  %>
                 <% else %>
                 
                    <%= render '/components/block_button/', user: User.find_by(username: :username) %> 


                       <% end %>
                  


  
                </div>


                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong><%= @user.following.count %></strong></h2>                    
                    <p><small>Takip</small></p>
                    <div><%= render '/components/follow_button/', user: User.find_by(username: :username) %> </div>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong><%= @user.posts.count %></strong></h2>                    
                    <p><small>Snippets</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                        <li class="divider"></li>
                        <li><a href="<%= link_to 'Düzenle', edit_user_path(@user) %>" class="btn disabled" role="button"> Unfollow </a></li>

                        <div>

                            
                            


                        </div>



                       
                         
                      </ul>

                      



                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>





<% end %>