<p id="notice"><%= notice %></p>

    <% if !user_signed_in? %>

<p>
  <strong>Text:</strong>
  <%= @post.text %> <br>
  <% if @post.image? %>
  <div class="photo-img"> <%= image_tag @post.image_url(:medium) %> </div>
  <% end %>

  <strong>gonderen:</strong>
  <%= @post.user.email %>

  <%= form_for [@post, Comment.new] do |f| %>
  <div class="form-group"> 

    
    <%= f.text_area :body, class: 'form-control', row:'2', style: "min-width: 20%"  %>
  </div>

<%= f.submit "Gönder", class: 'btn btn-primary' %>


<% end %>

</p>






<ul>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>

<%= link_to 'Back', posts_path %>



                    <%  if current_user.blocking?(@post.user) %>
                    <!-- Engellenmişsen-->

                     <center> <p><strong>  Bu Üyenin içeriğine ulaşılamıyor</strong>  <%= link_to "Anasayfaya Dön", root_path, class: 'btn btn-info btn-block'  %> </p> </center>




                     <% else %>
<p>
  <strong>Text:</strong>
  <%= @post.text %> <br>
  <% if @post.image? %>
  <div class="photo-img"> <%= image_tag @post.image_url(:medium) %> </div>
  <% end %>

  <strong>gonderen:</strong>
  <%= @post.user.email %>

  <%= form_for [@post, Comment.new] do |f| %>
	<div class="form-group"> 

		
		<%= f.text_area :body, class: 'form-control', row:'2', style: "min-width: 20%"  %>
	</div>

<%= f.submit "Gönder", class: 'btn btn-primary' %>


<% end %>

</p>






<ul>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>

<%= link_to 'Back', posts_path %>
<% end %>
<% end %>






