<div>

	<h2> Resimler </h2>

	<% if @images.exists? %>


	<% @images.each_slice(4) do |image|    %>
	<div class="row">
		
		<% @images.each do |image|    %>
<% if user_signed_in? %>
<%  if current_user.blocking?(image.user) %>
		<!-- Engellenmişsen veya engellemişsen-->
		<% else %>
		<div class="col-md-3" >
			<div class="photo photo-type-line">
				
					<div class="photo-info">
						<div class="headline"><%= image.user.username %> (<%= image.user.images.size.to_i %>) </div>
						<div class="headline"> <%= image.image_title %> </div>
						<div class="line"></div>
						<div class="headline"> <%= image.image_description %> </div>
					</div>
					<div class="mask"></div>
				
				<div class="photo-img"> <%= image_tag image.image_url(:thumb) %> </div>
			</div>
		</div>
		<% end %>
	</div>	


<% else %>
<div class="col-md-3" >
			<div class="photo photo-type-line">
				
					<div class="photo-info">
						<div class="headline"><%= image.user.username %> (<%= image.user.images.size.to_i %>) </div>
						<div class="headline"> <%= image.image_title %> </div>
						<div class="line"></div>
						<div class="headline"> <%= image.image_description %> </div>
					</div>
					<div class="mask"></div>
				
				<div class="photo-img"> <%= image_tag image.image_url(:thumb) %> </div>
			</div>
		</div>
		
	<% end %>
	<% end %>
	<% end %>

	<% else %>
	<p>Gösterilecek resim vardı da biz mi göstermedik? :| </p>
	
	<% end %>

</div>



