<div class="row">
	
	<div class="col-md-3" >
		<div class="photo photo-type-line">

			<a href="<%= @image.image_url %>" class="photo-hover" data-lightbox="my-images" data-title="<%= @image.image_title %>" >
				<div class="photo-info">
					<div class="headline"><%= @image.user.username %> (<%= @image.user.images.size.to_i %>) </div>
					<div class="headline"> <%= @image.image_title %> </div>
					<div class="line"></div>
					<div class="headline"> <%= @image.image_description %> </div>
				</div>
				<div class="mask"></div>
			</a>
			<div class="photo-img"> <%= image_tag @image.image_url() %> </div>


		</div>
	</div>


		
	</div>
	 <%= form_for [@image, Comment.new] do |f| %>
	<div class="form-group"> 

		
		<%= f.text_area :body, class: 'form-control', row:'2', style: "min-width: 20%"  %>
	</div>

<%= f.submit "Gönder", class: 'btn btn-primary' %>


<% end %>	

	<ul>
  <%= render(partial: 'comments/comment', collection: @image.comments) %>
</ul>