<div class="row">
	
	<div class="col-md-3" >
		<div class="photo photo-type-line">

			<a href="<%= @image.image_url %>" class="photo-hover" data-lightbox="my-images" data-title="<%= @image.image_title %>" >
				<div class="photo-info">
					<div class="headline"><%= @image.user.username %> (<%= @image.user.images.size.to_i %>) </div>
					<div class="headline"> <%= @image.image_title %> </div>
					<div class="line"></div>
					<div class="headline"> <%= @image.image_description %> </div>
				</div>
				<div class="mask"></div>
			</a>
			<div class="photo-img"> <%= image_tag @image.image_url() %> </div>


		</div>
	</div>


		
	</div>	

	<%= render partial: "comments/comments", locals: {commentable: @image} %>
	<%= render partial: "comments/form", locals: {commentable: @image} %>